@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #293251;
}

.container {
  width: 300px;
  background-color: #fff;
  margin: 6rem auto;
  border-radius: 10px;
  padding-bottom: 50px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.icon {
  text-align: left;
}

.weather-info {
  border-radius: 10px 10px 0 0;
  background-color: #f4f9ff;
  text-align: center;
  line-height: 2rem;
}

.temp {
  margin: 0.9rem auto;
  font-size: 4rem;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 1rem;
  margin-top: 1.5rem;
}
#input {
  padding: 5px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 3px solid #99acee;
}

label {
  font-size: 1.5rem;
  margin: 1rem;
}

#btn {
  margin: auto;
  font-size: 1rem;
  margin-top: 1rem;
  width: 4rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0;
  background-color: #99acee;
}

@media (hover: hover) and (pointer: fine) {
  #btn:hover {
    background-color: #404864;
    color: #fff;
  }
}
